<%= form_with(model: @reserva) do |form| %>
  <% if @reserva.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@reserva.errors.count, "error") %> proibiram esta reserva de ser salva:</h2>
      <ul>
        <% @reserva.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% reserva_nome = @reserva.user.nome.present? ? @reserva.user.nome : @reserva.user.email %>

  <!-- Dados do Usuário (Apenas Leitura) -->
  <div>
    <%= form.label :user_id, "Usuário", style: "display: block" %>
    <%= form.hidden_field :user_id, value: @reserva.user.id %>
    <input type="text" value="<%= reserva_nome %>" class="form-control" readonly>
  </div>

  <!-- Dados do Carro (Apenas Leitura) -->
  <div>
    <%= form.label :carro_id, "Carro", style: "display: block" %>
    <%= form.hidden_field :carro_id, value: @reserva.carro.id %>
    <input type="text" value="<%= @reserva.carro.modelo %>" class="form-control" readonly>
  </div>

  <!-- Campos de Data (Editáveis) -->
  <div>
    <%= form.label :data_inicio, "Data Início", style: "display: block" %>
    <%= form.date_field :data_inicio, class: "form-control select2" %>
  </div>

  <div>
    <%= form.label :data_fim, "Data Fim", style: "display: block" %>
    <%= form.date_field :data_fim, class: "form-control select2" %>
  </div>

  <div>
    <%= form.label :preco_total, "Diária", style: "display: block" %>
    <%= form.text_field :preco_total, value: @reserva.preco_total, class: "form-control", readonly: true %>
  </div>

  <div>
    <%= form.label :status, "Status", style: "display: block" %>
    <%= form.hidden_field :status, value: "Pendente" %> <!-- Status como hidden_field -->
    <input type="text" value="Pendente" class="form-control" readonly> <!-- Exibição apenas -->
  </div>

  <div>
    <%= form.submit "Confirmar Reserva", class: "btn btn-primary" %>
  </div>
<% end %>
