<p style="color: green"><%= notice %></p>

<%= render @reserva %>

<div>
  <%= link_to "Edit this reserva", edit_administrate_reserva_path( @reserva) %> |
  <%= link_to "Back to reservas", administrate_reservas_path %>

  <%= button_to "Destroy this reserva", [:administrate,@reserva], method: :delete %>
</div>
