<p style="color: green"><%= notice %></p>

<h1>Clientes</h1>

<div id="clientes">
  <% @clientes.each do |cliente| %>
    <%= render cliente %>
    <p>
      <%= link_to "Show this cliente", [:administrate, cliente] %>
    </p>
  <% end %>
</div>
<%= link_to "Exportar PDF", administrate_clientes_path(format: :pdf), class: "btn btn-new", target: "_blank"%>
<%= link_to "New cliente", new_administrate_cliente_path %>
<div style="display: flex; justify-content: center; margin-top: 20px;">
  <%= paginate @clientes %>
</div>