<p style="color: green"><%= notice %></p>

<%= render @categorium %>

<div>
  <%= link_to "Edit this categoria", edit_administrate_categorium_path(@categorium) %> |
  <%= link_to "Back to categoria", administrate_categoria_index_path %>

  <%= button_to "Destroy this categoria", [:administrate, @categorium], method: :delete %>
</div>
