<p style="color: green"><%= notice %></p>

<%= render @categorium %>

<div>
  <%= link_to "Edit this categoria", edit_categorium_path(@categorium) %> |
  <%= link_to "Back to categoria", categoria_index_path %>

  <%= button_to "Destroy this categoria", @categorium, method: :delete %>
</div>
