<p style="color: green"><%= notice %></p>

<%= link_to destroy_admin_session_path, data: { turbo_method: :delete } do %>
Fazer Logoff
<% end %>

<h1>Carros</h1>

<div id="carros">
  <% @carros.each do |carro| %>
    <%= render carro %>
    <p>
      <%= link_to "Show this carro", [:administrate, carro] %>
    </p>
    
  <% end %>
  
  
 

</div>


<%= link_to "New carro", new_administrate_carro_path %>
<%= paginate @carros %>

