<div id="<%= dom_id reserva %>">
  <p>
    <strong>Cliente:</strong>
    <%= reserva.user_id %>
  </p>

  <p>
    <strong>Carro:</strong>
    <%= reserva.carro_id %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= reserva.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= reserva.data_fim %>
  </p>

  <p>
    <strong>Preco total:</strong>
    <%= reserva.preco_total %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reserva.status %>
  </p>

</div>
