<p style="color: green"><%= notice %></p>

<h1>Reservas</h1>

<div id="reservas">
  <% @reservas.each do |reserva| %>
    <%= render reserva %>
    <p>
      <%= link_to "Show this reserva", [:administrate, reserva] %>
    </p>
  <% end %>
</div>

<%= link_to "New reserva", new_administrate_reserva_path %>
<div style="display: flex; justify-content: center; margin-top: 20px;">
  <%= paginate @reservas %>
</div>