<div id="<%= dom_id pagamento %>">
  <p>
    <strong>Reserva:</strong>
    <%= pagamento.reserva_id %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= pagamento.valor %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pagamento.status %>
  </p>

  <p>
    <strong>Metodo pagamento:</strong>
    <%= pagamento.metodo_pagamento %>
  </p>

  <p>
    <strong>Data pagamento:</strong>
    <%= pagamento.data_pagamento %>
  </p>

</div>
