<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>Locafacil - Painel do Administrador</title>
   <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Custom fonts for this template-->
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css", "data-turbo-track": "reload" %>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <%= favicon_link_tag asset_path("favicon.ico") %>

    <!-- Custom styles for this template-->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "sb-admin-2", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pages/welcome", "data-turbo-track": "reload" %>
    

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <%= image_tag 'logo', size: "40x40" %>
                </div>
                <div class="sidebar-brand-text mx-3"> Locafácil</div>
            </a>
            <!--
             Divider 
            <hr class="sidebar-divider my-0">

             Nav Item - Dashboard 
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            -->
            <!-- Divider -->
          

        

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Páginas
            </div>

           <!-- Nav Item - Categorias -->
            <li class="nav-item">
            <%= link_to administrate_categorias_path, class: "nav-link" do %>
                <i class="fas fa-th-list"></i>
                <span>Categorias</span>
            <% end %>
            </li>


            <!-- Nav Item - Carros -->
            <li class="nav-item">
            <%= link_to administrate_carros_path, class: "nav-link" do %>
                <i class="fas fa-car"></i>
                <span>Carros</span>
            <% end %>
            </li>
            

            <!-- Nav Item - Clientes -->
            <li class="nav-item">
            <%= link_to administrate_clientes_path, class: "nav-link" do %>
                    <i class="fas fa-user"></i>
                    <span>Clientes</span>
            <% end %>
            </li>

            <!-- Nav Item - Reservas -->
            <li class="nav-item">
            <%= link_to administrate_reservas_path, class: "nav-link" do %>
                    <i class="fas fa-calendar-check"></i>
                    <span>Reservas</span>
            <% end %>
            </li>

            <!-- Nav Item - Pagamentos -->
            <li class="nav-item">
            <%= link_to administrate_pagamentos_path, class: "nav-link" do %>
                    <i class="fas fa-credit-card"></i>
                    <span>Pagamentos</span>
            <% end %>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
              

                    <!-- Topbar Navbar -->
                    <!-- Topbar Navbar -->
                                <ul class="navbar-nav ms-auto"> <!-- Troquei `ml-auto` por `ms-auto` para consistência com o Bootstrap mais recente -->
                                <!-- Nav Item - User Information -->
                                <li class="nav-item dropdown no-arrow">
                                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <!-- Alterado para usar `data-bs-toggle` -->
                                    <span class="me-2 d-none d-lg-inline text-gray-600 small">
                                        <%= current_admin.nome %>
                                    </span>
                                    <i class="fas fa-user-circle fa-lg"></i> <!-- Adicionei um ícone ao lado do nome para melhor visual -->
                                    </a>
                                    <!-- Dropdown - User Information -->
                                    <div class="dropdown-menu dropdown-menu-end shadow animated--grow-in"
                                        aria-labelledby="userDropdown"> <!-- Alterado `dropdown-menu-right` para `dropdown-menu-end` -->
                                   
                                    <%= link_to destroy_admin_session_path, data: { turbo_method: :delete }, class: "dropdown-item" do %>
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>
                                                Sair
                                    <% end %>
                                    </div>
                                </li>
                                </ul>


                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800"><%= yield %></h1>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <!-- Importmap -->
    <%= javascript_importmap_tags %>
     <%= javascript_include_tag "https://code.jquery.com/jquery-3.7.1.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
     
    <script>
        import "bootstrap";
        import "jquery";
        import "jquery-easing";
        import "sb-admin-2";
    </script>

</body>

</html>