<!DOCTYPE html>
<html>
  <head>
    <title>LocadoraCarros</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "welcome", media: "all" if controller.controller_name == "welcome" %>
    <%= stylesheet_link_tag "pages/login_admin", media: "all", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path("favicon.ico") %>


    <%= javascript_importmap_tags %>
    
  </head>

  <body>
    

    <%= yield %>
  </body>
</html>
